In [1]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
member = pd.read_csv('20200923_Membership_Data.csv')
member.head()

,CnBio_ID,CnMem_1_01_Total_Years,CnMem_1_01_Standing,CnMem_1_02_Total_Years,CnMem_1_02_Standing,CnMem_1_03_Total_Years,CnMem_1_03_Standing,CnMem_1_04_Total_Years,CnMem_1_04_Standing,CnMem_1_05_Total_Years,...,CnMem_1_17_Total_Years,CnMem_1_17_Standing,CnMem_1_18_Total_Years,CnMem_1_18_Standing,CnMem_1_19_Total_Years,CnMem_1_19_Standing,CnMem_1_20_Total_Years,CnMem_1_20_Standing,CnSmryAct_1_Ttal_nmbr_f_Actins,CnSmryGft_1_Total_Gift_amount
0,100060046,3,Dropped,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,$50.00
1,100060169,3,Dropped,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,$75.00
2,100060267,3,Dropped,2.0,Dropped,1.0,Dropped,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,$275.00
3,100060423,3,Dropped,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,$100.00
4,10017502,4,Dropped,3.0,Dropped,1.0,Dropped,12.0,Active,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"$1,972.50"